/* src/styles/AddSkillForm.css */
.form-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: #12121d;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #252538;
  width: 350px;
}

h3 {
  margin-bottom: 16px;
  text-align: center;
}

label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  color: #ccc;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #333;
  background-color: #181826;
  color: white;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.save-btn {
  background: linear-gradient(90deg, #6f3cff, #3db0ff);
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background: transparent;
  border: 1px solid #555;
  padding: 8px 14px;
  border-radius: 6px;
  color: #bbb;
  cursor: pointer;
}
